* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titan One', cursive;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #E53170;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    text-align: center;
}

img{
    height:90px;
}

.profession {
    font-size: 15px;
}

h2 {
    font-size: 15px;
}

.people-first-row {
    float: left;
    width: calc(33.3% - 40px);
    margin-top: 40px;
    margin-right: 40px;
    background-color: black;
    color: white;
    line-height: 30px
}

.email {
    color: aqua;
}

.img-first-row {
    float: left;
    padding-right: 10px;
}

.people-second-row {
    float: left;
    width: calc(33.3% - 40px);
    margin-top: 40px;
    margin-right: 40px;
    background-color: black;
    color: white;
    line-height: 30px
}

.img-second-row {
    float: left;
    padding-right: 10px;
}

.people-first-row, .people-second-row {
    box-shadow: 0px 0px 5px 5px lightgray;
    
}


